   body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

   
 

   

    /* for nav bar */
    .navbar {
      background-color: #d4d94c;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    .navbar ul li {
      margin-right: 20px;
    }

    .navbar ul li a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }

    .logo {
      background-color: #38b3e5;
      padding: 10px 20px;
      color: #fff;
      font-weight: bold;
      border-radius: 5px;
    }
    #si {
      display: flex;
      justify-content: center;
      margin-top: 0;
      padding: 10px;
    }
    .fromlabel{
/* display: block; */
    }
    .fromInput{
    display: block;
    
    height: 40px;
      border: 2px solid #ccc;
      
      margin-bottom: 20px;
      width: 300px;
      border-radius: 10px;


    }
    .fromInput:hover{
        border: 2px solid rgb(0, 255, 191);
    }
       .contact-info {
      
      
      margin-top: 0;
      
      height: 500px;
      margin-right: 10px;
      background-color: #c8dfe9;
      padding: 30px;
     border-radius: 20px;
    }
    .contact-info20 {margin-bottom: 30px;
        margin-top: 0;
      
      height: 200px;
      margin-left: 10px;
      background-color: #c1dae4;
      padding: 30px;
     border-radius: 20px;
     flex-wrap: wrap;
     align-self: center;

    }
    h2{
        text-align: center;
    }

    

    


    button {
      background-color: #4caf50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      flex-wrap: wrap;
      font-size: 20px;

    
      
    }

    footer {
      text-align: center;
      padding: 20px;
      background-color: #f0f0f0;
    }
